

.container{
    width: 90%;
    margin: auto;
}


.header{
    background-color: #000;
}
.navbar {
    width: 95%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    
}

.navbar .home img {
    width: 170px;
    
}

.navbar .nav_links {
    list-style: none;
    display: inline-block;
}

.navbar .nav_links li {
    display: inline;
}

.navbar .nav_links .nav_btn {
    text-decoration: none;
    padding: 9px 15px;
    background-color: #105a7c;
    color: #b49f1a;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.navbar .nav_links .nav_btn:hover {
    background-color: #0d3044;
}


.main {
    /* margin: 30px;
    padding: 40px; */
    background-image: url("background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}




.main .container .parent .left-side{
    color: #dcdcdc;
    flex-basis: 60%;
}

.span{
    color: #D9AA05;
}

.article .container .row .left .img{
    background-image: url(OSD-379.jfif);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    
}
.article .container .row .right .img {
    background-image: url(OSD-665.jfif);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    
}

.article .container .row h4{
    margin-top: 6px;
    color:#105a7c ;
}
.row p{
    color:#105a7c ;    
}
.article .container h2{
    color:#105a7c ;

}
.footer{
    text-align: center;
    background-color: #000;
}
.footer .home img{
    width: 250px;
}


/*  OSD-665 */

/* .osd-665{
    background-image: url(OSD-665.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
} */

.main-osd .left-side{
    color: #0d3044;
    width: 80%;
    margin: auto;
    
}
.blue-text{
    color:#144e6f ;
}
.orange-text{
    color: #D9AA05;
}

.hidden {
    display: none;
}
.button{
    border: none;
    border-radius: 100px;
    padding: 6px 12px;
    width: 30%;
    background-color: #105a7c;
    color:#BBB825 ;
    margin-top: 20px;
}
.video{
    width: 100%;
    height: 600px;
    margin-top: 200px;
    
}
.line{
    background-color: #D9AA05;
    height: 2px;
    width: 40%;
    
   
}